#Print function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

#Basic data types

1.   Integer
2.   Floating point
3.   Complex
4.   Boolean
5.   String

Integer

In [65]:
a = 8
print(a)
type(a)

8

int

Floating point

In [66]:
b = 2.3
print(b)
type(b)

2.3

float

Complex

In [67]:
c = 1+3j
print(c)
type(c)

(1+3j)

complex

Conversion from integer to floating point

In [68]:
x = 10
print(x)
type(x)

10

int

In [69]:
y = float(x)
print(y)
type(y)

10.0

float

Conversion from floating point to integer

In [70]:
x = 5.88
print(x)
type(x)

5.88

float

In [71]:
y = int(x)
print(y)
type(y)

5

int

Boolean


1.   True
2.   False

In [72]:
a = True
print(a)
type(a)

True

bool

In [73]:
b = False
print(b)
type(b)

False

bool

In [74]:
a = 7 < 3
print(a)
type(a)

False

bool

In [75]:
a = 7 > 3
print(a)
type(a)

True

bool

String

In [76]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [77]:
print("Hello"*5)

HelloHelloHelloHelloHello

Slicing

In [78]:
my_string = "Programming"

In [79]:
print(my_string[1:5])

rogr

In [80]:
print(my_string[0:10:2])

Pormi

String concatenation

In [81]:
word_1 = "Machine "
word_2 = "Learning"
print(word_1 + word_2)

Machine Learning

#Constants and variables

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [ ]:
superhero = "Captain America"
print(superhero)

Captain America

In [ ]:
hero1, hero2, hero3 = "Iron Man", "Captain America", "Thor"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Thor

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Input function

In [92]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")

sum = number_1 + number_2
print(sum)

Enter the first number: 23
Enter the second number: 23
2323

In [93]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))

sum = number_1 + number_2
print(sum)

Enter the first number: 23
Enter the second number: 23
46

In [94]:
num = 5
print(float(num))

5.0

#Lists, tuples, sets and dictionaries

Types of objects in Python:

1.   Immutable objects
2.   Mutable objects

Immutable objects:

1.   Integer
2.   Floating point
3.   String
4.   Boolean
5.   Tuple

Mutable objects:

1.   List
2.   Set
3.   Dictionary

Lists

In [2]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [5]:
my_list = [2,3,1.8,'English',True]
print(my_list)
type(my_list)

[2, 3, 1.8, 'English', True]

list

A list is mutable ----> Changeable

In [18]:
# list allows multiple data types
my_list = [2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [8]:
print(my_list[0])
print(my_list[2])

2
1.8

In [10]:
# lists allows duplicate values
list_1 = [1,2,3,4,5,1,2,3,4,5]
print(list_1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
print(len(list_1))

10

In [12]:
list_2 = []
print(list_2)

[]

In [13]:
list_2.append(5)
print(list_2)

[5]

In [15]:
# delete an item in a list
list_2 = [2,3,1.8,'English',True, 6]
print(list_2)
del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [16]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [17]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [19]:
# tuple allows multiple data types
tuple_2 = (2,3,1.8,'English',True)
print(tuple_2)
type(tuple_2)

(2, 3, 1.8, 'English', True)

tuple

In [21]:
# converting a list to a tuple
my_list = [2,3,4,5,6]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[2, 3, 4, 5, 6]
(2, 3, 4, 5, 6)

In [23]:
print(my_tuple[0])
print(my_tuple[1])

2
3

Tuples are immutible ---> Unchangeable (we cannot use append function)

In [25]:
print(len(my_tuple))

5

Sets

In [28]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)
# set object does not support indexing, therefore we cannot use, for example, my_set[0] to access the first term of the set

{1, 2, 3, 4, 5}

set

In [29]:
# convert a list to a set
list_5 = [4,5,6,7,8]
x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [30]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3,4,5}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

Key-value pair

In [31]:
my_dict = {'name':'Jack', 'age':26, 'country':'USA'}
print(my_dict)
type(my_dict)

{'name': 'Jack', 'age': 26, 'country': 'USA'}

dict

In [33]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

Jack
26
USA

In [37]:
# dictionary does not allow duplicate values
my_dict_2 = {'name':'John', 'age':26, 'country':'USA', 'name':'João', 'age':'24', 'country':'Portugal'}
print(my_dict_2)

{'name': 'João', 'age': '24', 'country': 'Portugal'}

# Operators



1.   Arithmetic operators
2.   Assignment operators
3.   Comparison operators
4.   Logical operators
5.   Identity operators
6.   Membership operators

Arithmetic operators

In [47]:
num_1 = 10
num_2 = 5
# addition
sum = num_1 + num_2
print('Sum of',num_1,'with',num_2,'is:', sum)
# subtraction
subtrac = num_1 - num_2
print('Subtraction:', subtrac)
# multiplication
mult = num_1*num_2
print('Product:', mult)
# division
div = num_1/num_2
print('Quotient:', div)
# exponent
exp = num_1**num_2
print('Exponent:', exp)
# modulus
modu = num_1%num_2
print('Reminder:', modu)

Sum of 10 with 5 is: 15
Subtraction: 5
Product: 50
Quotient: 2.0
Exponent: 100000
Reminder: 0

Assignment operators

+=

-=

*=

/=

**=

%=

In [48]:
a = 5
print(a)

5

In [49]:
a = 6
a += 5
print(a)

11

In [50]:
b = 6
b -= 2
print(b)

4

Comparison operators

In [51]:
a = 5
b = 10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

Logical operators

and

or

not

In [55]:
a = 10
print(a>20 and b>5)
print(a>20 or b>5)
print(not(a>20 and b>5))
print(not(a<20 or a<11))

False
True
True
False

Identity operators

is

is not

In [60]:
x = 5
y = 10
print(x is y)

False

In [61]:
x = 5
y = 5
print(x is not y)

False

In [58]:
x = 5
y = 10
print(x is not y)

True

Membership operators

in

not in

In [64]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

#If else statements

simple if else statement

In [82]:
a = 30
b = 50

if a>b:
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [85]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))

if a>b:
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number: 10
Enter the second number: 16
Second number is the greatest

if elif else statement

In [88]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number:'))
c = int(input('Enter the third number: '))

if (b<a>c):
  print(a,'is the greatest number')
elif (a<b>c):
  print(b,'is the greatest number')
else:
  print(c,'is the greatest number')

Enter the first number: 2
Enter the second number:5
Enter the third number: 3
5 is the greatest number

nested if statement

In [90]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number:'))
c = int(input('Enter the third number: '))

if (a>b):
  if (a>c):
    print(a, 'is the greatest number')
  else:
    print(c, 'is the greatest number')
else:
  if (b>c):
    print(b, 'is the greatest number')
  else:
    print(c, 'is the greatest number')

Enter the first number: 20
Enter the second number:30
Enter the third number: 15
30 is the greatest number

#Loops

For loop

In [101]:
# if we don't use "int" before, the input will result in a string
laptop1 = int(input('Enter the price of the first Laptop: '))
laptop2 = int(input('Enter the price of the second Laptop: '))
laptop3 = int(input('Enter the price of the third Laptop: '))
laptop4 = int(input('Enter the price of the fourth Laptop: '))
laptop5 = int(input('Enter the price of the fifth Laptop: '))

Enter the price of the first Laptop: 10000
Enter the price of the second Laptop: 20000
Enter the price of the third Laptop: 30000
Enter the price of the fourth Laptop: 40000
Enter the price of the fifth Laptop: 50000

In [5]:
a = int(input('Enter the number of Laptops: '))

if a == 0:
  print('Not a valid number of Laptops')
else:
  for i in range(a):
    laptop_price = int(input(f'Enter the price of the Laptop number {i+1}: '))

Enter the number of Laptops: 2
Enter the price of the Laptop number 1: 1000
Enter the price of the Laptop number 2: 2000

In [6]:
numbers = [50,100,150,200]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [7]:
import random as rand

In [18]:
a = int(input('Enter the number of elements inside the list: '))

list_1 = []

for i in range(a):
  list_1.append(rand.randint(1,100))

print(list_1)

for i in list_1:
  print(i)

Enter the number of elements inside the list: 5
[24, 22, 15, 97, 24]
24
22
15
97
24

While loop

while condition:

    statement

In [19]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [20]:
i = 5

while i<3:
  print(i)
  i += 1

#Functions

A function is a block of code that can be reused in a program

Factorial of a number

In [26]:
number = int(input('Enter a nunber to find its factorial: '))
factorial = 1
if number == 0:
  print(' The factorial of 0 is 1')
else:
  for i in range(1,number+1):  # range(1,6) ----> 1,2,3,4,5
    factorial = factorial*i

print('The factorial of',number,'is',factorial)

Enter a nunber to find its factorial: 5
The factorial of 5 is 120

Factorial function

In [45]:
def factorial_value(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*factorial_value(n-1)

def print_factorial(n):
  print('The factorial of', n,'is', factorial_value(n))

print_factorial(10)

The factorial of 10 is 3628800